body{
    font-family: 'Raleway', serif;
    font-family: 'Roboto', sans-serif;;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration:none;
}

.header{
    background: #FFFFFF;
}

.logo-link{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        margin-left: 860px;
}

.logo-accent{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000000;
}

.header-list{
    display: flex;
    margin-top: 60px;
    margin-left: 690px;
}

.studio{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.02em;
    margin-right: 50px;
}


.studio-name{
    color: #212121;
}

.studio-name:hover,
.studio-name:focus{
    color: #2196F3;
}

.portfolio{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.02em;
        margin-right: 50px;
}

.portfolio-name{
    color: #212121;
}

.portfolio-name:hover,
.portfolio-name:focus{
    color: #2196F3;
}

.current{
    accent-color: #2196F3;
}

.contacts{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 0.02em;
}

.contacts-name{
    color: #212121;
}

.contacts-name:hover,
.contacts-name:focus {
    color: #2196F3;
}

.section-one{
    height: 600px;
}

.main-txt{
    font-family: "Raleway";
    width: 700px;
        font-weight: 900;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #000000;
        text-align: center;
        font-size: 44px;
        line-height: 1.36;
        text-shadow: 0 0 1em hsl(200, 100%, 50%),
        0 0 0.125em hsl(350, 100%, 30%),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
        padding-top: 200px;
        padding-left: 570px;
}

.section-two-header{
    text-align: center;
}

.section-two-list{
    display: flex;
}

.warning{
    width: 400px;
    margin-right: 50px;
}

.section-two-title{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}

.section-two-txt{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
}

.work{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.section-four{
    background-color: #F5F4FA;
}

.section-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(#212121);
}

.worker1-list{
    display: flex;
    flex-wrap: wrap;
}

.worker{
    background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        width:270px;
}

.worker-name{
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
}

.worker-work{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
}

.footer{
    background: #2F303A;
}

.footer-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-accent {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.footer-address{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.footer-gm{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.footer-gm:hover,
.footer-gm:focus{
    color: #2196F3;
}

.footer-tel{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
    color: #2196F3;
}
